.t-login-container {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: var(--index-color);
}

/* Styles for the .login-box */
.t-login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 16px  4px rgba(0, 0, 0, .1);
  padding: 1rem 2.5rem;
}
/* Styles for the login title */
.t-login-title {
  text-transform: capitalize;
  letter-spacing: -2px;
}

/* Styles password and email input */
.t-l-row-1, .t-l-row-2 {
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
}
.t-l-row-1 label, .t-l-row-2 label {
  color: #695C5C;
  text-transform: capitalize;
}

.t-l-row-1 input, .t-l-row-2 input {
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 3px;
  background: #f9f9f9;
  padding: .8rem 1.8rem;
  outline: none;
  font-family: "Poppins";
  color: #695C5C;
  font-size: 15px;

}

.t-l-row-1 input::placeholder, .t-l-row-2 input::placeholder {
  font-size: 15px;
  color: #695C5C;
  font-weight: 400;

}

.t-l-row-1 input {
  background-image: url("../../assets/svg/email.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

.t-l-row-2 input {
  background-image: url("../../assets/svg/lock.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

form {
  display: block;
}

/* Styles for the login button */
.t-login-btn button {
  width: 100%;
  padding: .9rem 0.9rem;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #fff;
  font-size: 15px;
  background: var(--t-blue-600);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Styles for the 'remember' input */
.t-l-row-4 {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.t-l-row-4 > span {
  color: #000C14;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}
input[type='checkbox'] {
  width: 20px;
}

/* Styles for the login with services - google, facebook, github - */
.t-l-row-6 {
  display: block;
}
.t-l-row-6 button {
  width: 100%;
  padding: 1rem 0;
  margin: 0.4rem 0;
  cursor: pointer;
  outline: none;
  transition: all 0.5s ease;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Poppins",sans-serif;
  text-transform: capitalize;
}

.t-l-row-6 button > svg {
  position: absolute;
  left: 0;
  margin-left: 1rem;
}
.t-l-row-6 button:hover {
  background: rgba(0, 0, 0, .1);
}
/* Styles for the login with facebook button */
.btn-fb {
  background: #1877f2;
  color: rgba(255, 255, 255, .9);
  border: 1px solid hsla(214, 89%, 52%, .4) ;
}

/* styles for the login with google button */
.btn-google {
  background: #fff;
  color: rgba(0, 0, 0, .6);
  border: 1px solid rgba(0, 0, 0, .4);
}
.btn-google > span {
  font-weight:800;
}

/* styles for the login with github button*/
.btn-github {
  background: hsla(0, 2%, 9%);
  border: 1px  solid hsla(0, 2%, 9%, 4);
  color: rgba(255, 255, 255, .9);
}
.t-l-row-6 button svg {
  font-size: 22px !important;
}

/* This rules are for the sign in option */
.t-l-row-7 {
  font-size: 15px;
  font-weight: 500;
  margin: 1.5rem 0;
  text-transform: capitalize;
  letter-spacing: -1px;
}
.t-l-row-7 a {
  margin-left: 8px;
  color: var(--t-blue-500);
  text-transform: capitalize;
}
