


/* Hidden list-style-type form <tbody> element */


tbody.t-table-body {
    border: 1px solid blue;
}

.t-table-body tr {
    background: var(--t-blue-700);
}

.t-table-body tr td {
    text-align: center;
}
.t-table-body tr td:nth-child(2) {
    overflow: hidden;
    width: 260px;
}
/* Let's make styles for completed task mode */
.completed-task td {
    background: #515159;
    color: #999;
}
tr.completed-task td:nth-child(-n+5) {
    text-decoration: line-through;
}

tr.completed-task td:nth-child(n+6) > button{
    background: #444;
    color: #999;
}
tr.completed-task .t-btn-edit { 
    cursor: not-allowed;
}

/* Styles for the delete and update buttons */
.t-btn-edit, .t-btn-delete {
    padding: .5rem 2rem;
    font-family: "Poppins";
    text-transform: uppercase;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s linear;
    font-weight: 500;
    text-decoration: none;
    margin: .5rem 0;
}

.t-btn-edit { 
    background:rgb(255, 160, 0);
    border: 1px solid #ffa000;
}

.t-btn-edit:hover {
    background: #ccc;
    border: 1px solid #ffa000;
    color: #222;
    font-weight: 500;
}

.t-btn-delete:hover {
    background: #ccc;
    border: 1px solid tomato;
    color: #222;
    font-weight: 500;
}
.t-btn-delete { 
    background: tomato;
    border: 1px solid tomato;
}

/* Styles for the icons */
td:nth-child(n+7) button svg {
    font-size: 15px;
    margin-right: .5rem;
}  

