@import url("../../index.css");
/* LEt's make styles for 'add' button for the tasks */
.t-btn-add {
  width: 120px;
  height: 120px;
  position: fixed;
  border-radius: 3px;
  bottom: 5rem;
  right: 5rem;
  border: none;
  outline: none;
  font-size: 80px;
  transition: all 0.5s ease-in;
  text-align: center;
}
.t-btn-add:hover {
  background: #aaa;
  transform: scale(0.9);
  color: #777;
}
/* Styles for the separator line */
.t-separator {
  width: 100%;
  border: 1px solid var(--t-blue-700);
  margin: 1rem 0;
}

/* Styles for the 'form' container see in <TaskForm/> component */
.t-f-container {
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28rem;
  background: var(
    --t-blue-900
  ); /* Let's use color variables from './styles/css/index.css'*/

  border-radius: 3px;
  overflow: hidden;
  transition: all 0.7s;
  z-index: 10000;
}

/* This are styles from the popup efect from */
.t-f-container-popup {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Styles form the form's elements */
.t-f-form {
   display: flex;
   flex-direction: column;
   padding: 2rem;
}
/* Styles for the <input> element */ 
.t-btn-close {
  width: 45px;
  height: 45px;
  display: block;
  position: absolute;
  top:0;
  right: 1rem;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  padding-inline: 0;
  padding-block: 0;
  border-width: 0;
  background: transparent;
  cursor: pointer;
}
input[type="text"] {
  height: 30px;
  outline: none;
  padding: .3rem;
  margin: .9rem;
  font-family: "Poppins";
  background: var(--t-blue-800);
  border: 1px solid var(--t-blue-700);
  border-radius: 5px;
}
textarea {
  height: 120px;
  border: none;
  outline: none;
  padding: .3rem;
  margin: .9rem;
  font-family: "Poppins";
  background: var(--t-blue-800);
  border: 1px solid var(--t-blue-700);
  border-radius: 5px;
  resize: none;
  
}
input[type="text"]::placeholder, textarea::placeholder {
  color: var(--t-blue-100);
}

/* Styles for the add button */
.t-f-btn-submit {
  margin: .9rem;
  padding: .7rem;
  font-family: "Poppins";
  font-size: 15px;
  letter-spacing: -.5px;
  background: var(--t-blue-500);
  outline: none;
  border: none;
  border-radius: 5px;
}


