.t-filterbar-container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 1.5rem 0;
}
/* Styles rules for 'sort by' span element */
.t-filterbar-container span {
    font-family: Montserrat;
    font-weight: 500;
    color: rgba(0, 0, 0, .8);

}
/* TODO: here goes the searchbar componente instand icons*/
/* Styles for the icon fil*/

