/* styles for the 'or login with ' element */
.t-l-row-5 {
  display: inherit;
  width: 100%;
  display: flex;
  font-size: 13px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: 500;
  margin: 1rem 0;
}
.t-l-row-5::after {
  content: "";
  height: 1px;
  margin-left: 1rem;
  background-color:rgba(0,0, 0, .5);
  flex: 1;
}
.t-l-row-5::before {
  content: "";
  height: 1px;
  margin-right: 1rem;
  background:rgba(0,0, 0, .5);
  flex: 1;
}