.t-searchbar-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0; */
}

.t-searchbar-container input {
  width: 400px;
  padding: .9rem 3.3rem;
  outline: none;
  border: 1px solid #4d4d4d;
  background: #222;
  color: rgba(255, 255, 255, .6);
  font-size: 15px;
  font-family: Manrope;
   background-image: url("../../../assets/svg/search.svg");
  background-repeat: no-repeat;
  background-position: 15px center;
  font-weight: 400;
}
.t-searchbar-container input::placeholder {
  color: rgba(255, 255, 255, .6);
}
