.alert-box {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    z-index: 100000;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    font-family: Manrope;
}
#alert-text {
    padding: 0 10rem 0 .6rem;
}
/*** Styles for the icon alert ***/

.alert-box svg {
    font-size: var(--icon-h-s-1);
}
.alert-box svg:last-child {
    cursor: pointer;
}

/** task create successfully