.t-list-container {
  background: #222; /* this will be a variable in root*/
  color: #c4c4c4 !important; /* This will be a variable in root*/
  font-family: Manrope;
  padding: 2rem 1rem 4rem 1rem !important;
  border-radius: 5px;
  border: 1px solid var(--border-color); /* for default value color*/
  position: relative;
  transition: all 1s linear;
}

.t-list-title {
  font-size: var(--size-s-2);
  color: #dfdfdf !important;
  font-weight: 600;
}
.t-list-desc {
  font-weight: 300;
}
/** Styles for created date in task **/

.t-list-created {
  font-size: 11px;
  margin: 6rem 0 0rem 0;
  border: 1px solid var(--border-color);
  padding: .3rem .2rem;
  border-radius: 10px;
}

/**** This style change the line style for completed tasks *****/
.task-completed { 
  text-decoration: line-through;
}
/* styles for completed icon */
.t-list-container > span, .t-list-i-completed {
  position: absolute;
  top: .5rem;
  
}
.t-list-i-completed {
  right: .8rem;
  visibility: hidden;

}
#t-done-icon {
  fill: var(--success-fill-color);
  font-size: var(--icon-h-s-0);
}

/** Styles for footer menu of card for task list **/
.t-list-footer-menu {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0.2rem;
  width: 100%;
  left: 0;
  visibility: hidden;
}
/** Styles to hover container to list items **/
.t-list-container:hover .t-list-footer-menu,
.t-list-container:hover .t-list-i-completed {
  visibility: visible !important;
}

#t-i-1,
#t-i-2,
#t-i-3,
#t-i-4,
#t-i-5 {
  flex: 14% 1;
  text-align: center;
  padding: 0.5rem 0;
}

#t-i-6 {
  flex: 40% 1;
  text-align: right;
  padding: 0 0.8rem 0 0;
}

.t-list-footer-menu div svg {
  cursor: pointer;
}

/** Styles fot he side menu bar **/


.t-list-sidemenu {
  display: none;
  position: absolute;
  width: 200px;
  background: #222;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  right: -120px;
  font-size: 14px;
  z-index: 10000;
  overflow: hidden;
}
.active-sidemenu  {
  display: block;
}
.ative-sidemenu.t-list-footer-menu {
  display: block;
}
.t-list-sidemenu div {
  padding: 0.5rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.t-list-sidemenu div svg {
  flex: 20% 1;
}

.t-list-sidemenu div span {
  flex: 80% 1;
  text-align: left;
}
.t-list-sidemenu div:hover {
  background: #292929;
}
