


/* Hidden list-style-type form <tbody> element */


tbody.t-table-body {
    /* border: 1px solid blue; */
    font-weight: 500;
    color: hsla(221, 13%, 46%, .8)
}

.t-table-body tr {
    background: #fff;
    border-bottom: 1px solid #EAECF0;
}

.t-table-body tr td {
    padding: .1rem 1rem;
}
/* Let's align center the select columns */


.t-table-body tr td:nth-child(2) {
    overflow: hidden;
    width: 260px;
}
.t-table-body tr td:nth-child(2) {
    overflow: hidden;
    width: 260px;
}
/* Let's make styles for completed task mode */
.completed-task td {
    background: #515159;
    color: #999;
}
tr.completed-task td:nth-child(-n+5) {
    text-decoration: line-through;
}

tr.completed-task td:nth-child(n+6) > button{
    background: #444;
    color: #999;
}
tr.completed-task .t-btn-edit { 
    cursor: not-allowed;
}

/* Styles for the delete and update buttons */
.t-btn-edit, .t-btn-delete {
    font-family: "Poppins";
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    width: 50px;
    height: 50px;
}
tbody tr td:nth-child(7) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.t-btn-edit > svg {
    stroke: rgba(0, 0,0, .7);
    font-size: 18px;
}

 .t-btn-delete > svg {
    fill: rgba(0, 0, 0, .7);
    font-size: 18px;
 }


.t-btn-edit { 
    margin-right: 2rem;
}

.t-btn-edit:hover {
   
}

.t-btn-delete:hover {
   
}
.t-btn-delete { 
    
}

/* Styles for the icons */
td:nth-child(n+7) button svg {
    margin-right: .5rem;
}  

