/* Let's doing styles fon the <TaskList/> component & title */

.t-container { 
    position: relative;
    padding: 1rem 10rem !important; /* Imporntntae to establecing the padding */
    background: var(--background-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem 2rem !important;
}




