/* Styles for the main navbar container */

.t-navbar-container {
  background: var(--background-color);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #4d4d4d;
}
.t-navbar-container a {
  flex: 20% 1;
}

.t-navbar-container .t-nav-searchbar {
  flex: 50% 1;
}

.t-navbar-container .t-sidebar-right {
  flex: 30% 1;
}

/* Styles for the searchbar component container */
.t-nav-searchbar {
  text-align: center;
}

/* Styles rules for sidebar-right container */
.t-sidebar-right {
  height: 100%;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem 0 0  !important;
}
.t-sidebar-right div svg {
  fill: var(--icon-color-theme);
  stroke: var(--icon-color-theme);
  font-size: var(--icon-h-s-2);
}

.t-avatar-box {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}