.t-f-container {
  background: #252525;
  border: 1.5px solid var(--border-color);
  max-width: 500px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 2rem 0;
  border-radius: 3px;
}
/** Styles fot head of the form taks list create **/
#t-pin-op {
  position: absolute;
  top: .3rem;
  right: .8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
}
#t-pin-op:hover {
  background: #1e1e1e;
  border-radius: 50%;
}

#t-pin-op svg {
  font-size: var(--icon-h-s-2);
  fill: var(--icon-color-theme);
}
.t-f-body form {
  display: flex;
  flex-direction: column;
}
.t-f-body form input,
.t-f-body form textarea {
  border: none;
  outline: none;
  padding: 0.8rem 1rem !important;
  font-family: Montserrat;
  font-weight: 600;
  font-size: var(--size-s-1);
  background: #262626 !important;
}

.t-f-body form textarea {
  font-size: 14px;
  font-weight: 500;
  resize: none;
}
/** Styles for footer part of the form task list **/
.t-f-footer {
  display: flex;
}
.t-f-footer div:not(:last-child) {
  flex: 10% 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.t-f-footer div:last-child {
  flex: 30% 1;
}
.t-f-footer div svg {
  fill: var(--icon-color-theme);
  stroke: var(--icon-color-theme);
  font-size: var(--icon-h-s-1);
  cursor: pointer;
}
.t-f-create-btn {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.t-f-create-btn button {
  display: block;
  background: transparent;
  border: none;
  outline: none;
  padding: 0.4rem 1.5rem;
  /* This is so importante to look for the button */
  margin: 0.3rem 0.5rem;
  font-family: "Poppins";
  transition: background 0.15s linear;
  text-transform: capitalize;
  color: var(--icon-color-theme);
  font-weight: 400;
  border-radius: 3px;
  cursor: pointer;
}
.t-f-create-btn button:hover {
  background: #1e1e1e;
}
