/* Styles for header list table */
thead.t-header-list {
    /* border-top: 1px solid #e6e6e6; */
    border-radius: 10px;
    background: #F9FAFA;  
    border: 1px solid #EAECF0 ;
}
 

.t-header-list tr th {
    text-transform: capitalize;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 15px;
    color: #667085;
    padding: 1rem 1rem;
    text-align: left;
}

