@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* palete color to design */
  --index-color: #fafafa;
  --t-blue-25: #f5fbff;
  --t-blue-50: #f0f9ff;
  --t-blue-100: #e0f2fe;
  --t-blue-200: #b9e6fe;
  --t-blue-300: #7cd4fd;
  --t-blue-400: #36bffa;
  --t-blue-500: #0ba5ec;
  --t-blue-600: #0086c9;
  --t-blue-700: #026aa2;
  --t-blue-800: #065986;
  --t-blue-900: #0b4a6f;
}

body {
  margin: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: var(--index-color);
}
